@page{
size:80mm auto;
margin:5mm;
}

body{
font-family:Tahoma;
font-size:14px;
}

.receipt{
width:100%;
text-align:center;
}

h2,h3{
margin:4px 0;
}

.row{
display:flex;
justify-content:space-between;
border-bottom:1px dashed #000;
padding:4px 0;
font-size:13px;
}

.thanks{
margin-top:10px;
font-size:13px;
}
